TEAM_ONE_PRIMARY=P31CWAN
TEAM_ONE_SECONDARY=PLOFECT
MEMCACHIER_PASSWORD=pass
MEMCACHIER_SERVERS=localhost
MEMCACHIER_USERNAME=username
PAGER_TOKEN=<your-api-token>
PAGER_URL=https://api.pagerduty.com
RACK_CACHE_TIME=5
